

<div style="padding-bottom: 30px;">
<!-- Filter Input Field -->
    <mat-toolbar color="primary">
      <span>Employee List</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" (click)="openAddEditForm()">Add Employee</button>
    </mat-toolbar>

    <!-- Filter Input Field -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Filter Employees</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search by name, email..." #input>
    </mat-form-field>

    <!-- Data Table -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="full-width">

        <!-- First Name Column -->
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{ row.first_name }} </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{ row.last_name }} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
        </ng-container>

        <!-- Date of Birth Column -->
        <ng-container matColumnDef="date_of_birth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
          <td mat-cell *matCellDef="let row"> {{ row.date_of_birth | date:'MM/dd/yyyy' }} </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
          <td mat-cell *matCellDef="let row"> {{ row.gender }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- No Data Message -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">No data matching "{{input.value}}"</td>
        </tr>
      </table>

      <!-- Paginator -->
      <mat-paginator [pageSizeOptions]="[6, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
      </mat-paginator>
    </div>
</div>